<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/air-192.png">
    <meta name="theme-color" content="#222222"/>
    <title>____________</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="content">
                <a href="/" class="logo">
                    <h1>Makan-Makan</h1>
                </a>
                <button class="menu-btn">☰</button>
                
                <ul class="menu-list">
                    <button class="close-btn">✖</button>
                    <li><a href="#/menu-list">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/agung-saepudin-230799">About</a></li>
                </ul>
            </div>
        </nav>
        <!-- Navbar -->

    </header>

    <!-- Main-Content -->
    <main id="mainContent">
        
    </main>
    <!-- Main-Content -->
</body>
</html>