.culinary_container {
  margin-top: 100px;
  padding: 0 32px;
}

.culinary_container p,
.culinary_content p,
.culinary_menus span {
  font-size: 18px;
}

.culinary_content {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.culinary_content .culinary_poster {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.culinary_info .culinary_title {
  padding: 8px 0;
}

.culinary_info h3 {
  padding: 10px 0;
}

.culinary_description {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
}

.culinary_description p {
  margin-top: 5px;
}

/* List_menu */
.culinary_menus {
  padding: 5px 0;
  font-size: 18px;
}

.culinary_menus span {
  padding-right: 3px;
}

/* Review */

.culinary_container h2 {
  margin-top: 20px;
}

.culinary_container .costumer_reviews {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}

.review_container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  width: 100%;
  max-width: 1000px;
}

@media screen and (min-width: 750px) {
  .culinary_content {
    display: flex;
  }

  .culinary_content .culinary_poster {
    max-width: 400px;
    height: 600px;
    margin-right: 20px;
  }

  .culinary_container p,
  .culinary_content p,
  .culinary_menus span {
    font-size: 16px;
  }

  .culinary_container .costumer_reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .culinary_content .culinary_poster {
    max-width: 400px;
    height: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .culinary_content .culinary_poster {
    max-width: 500px;
    height: 550px;
  }

  .culinary_container .costumer_reviews {
    grid-template-columns: repeat(3, 1fr);
  }
}
