@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import "./navbar.css";
@import "./card.css";
@import "./detailMenu.css";
@import "./heroImage.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Like */

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: orangered;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Like */

/* Skip Content */
.skip-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-content:focus {
  top: 0;
}
/* Skip Content */

loader {
  top: 50vh;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

loader span {
  width: 0.7rem;
  height: 0.7rem;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.3rem;
}

loader span:nth-child(1) {
  animation: loading 0.8s 0.1s linear infinite;
}

loader span:nth-child(2) {
  animation: loading 0.8s 0.3s linear infinite;
}

loader span:nth-child(3) {
  animation: loading 0.8s 0.5s linear infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1.5);
  }
  50% {
    opacity: 0.3;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1.5);
  }
}
