@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import "./navbar.css";
@import "./card.css";
@import "./detailMenu.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 32px;
  margin-top: 60px;
  flex: 1;
}
